.nav-bar {
    background-color: #003366;
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-bar-text {
    color: #FFFFFF;
    padding-left: 25px;
    font-size: 60px;
}

.btn {
    background-color: #B2CDE9;
    color: #000000;
    border-radius: 5px;
}