<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/companieCss.css}">
    <title>DareSky</title>
</header>
<body style="background-color: #F8F9FA">
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tipZborSelect = document.getElementById('tipZbor');
        const lunaStartSelect = document.getElementById('lunaStart');
        const lunaEndSelect = document.getElementById('lunaEnd');
        const zborForm = document.getElementById('zborForm');
        const modelAvionInput = document.getElementById('modelAvion'); // Get the modelAvion input

        function togglePerioada() {
            if (tipZborSelect.value === 'SEZONIER') {
                lunaStartSelect.disabled = false;
                lunaEndSelect.disabled = false;
            } else {
                lunaStartSelect.disabled = true;
                lunaEndSelect.disabled = true;
            }
        }

        togglePerioada();

        tipZborSelect.addEventListener('change', togglePerioada);

        zborForm.addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(zborForm);
            const zborData = {};

            for (const [key, value] of formData.entries()) {
                zborData[key] = value;
            }
            zborData['tipZbor'] = document.getElementById('tipZbor').value.toUpperCase();
            //zborData['model'] = document.getElementById('modelAvion').value.toUpperCase();
            zborData['modelAvion'] = modelAvionInput.value.toUpperCase(); // Corrected line
            //console.log(zborData);
            fetch('/salveazaZbor', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(zborData)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Succes:', data);
                    // Aici poți gestiona răspunsul de la backend (de exemplu, afișa un mesaj de succes)
                    alert('Zbor salvat cu succes!'); // Simple alert for success
                })
                .catch((error) => {
                    console.error('Eroare:', error);
                    // Aici poți gestiona erorile (de exemplu, afișa un mesaj de eroare)
                    alert('Eroare la salvarea zborului!');  // Simple alert for error
                });
        });
    });
</script>
<div class="nav-bar">
    <div class="logo">
        <h1 class="nav-bar-text">DareSky</h1>
        <img th:src="@{/images/avion.png}" alt="Logo">
    </div>
</div>
<div class="title-container">
    <h3 class="title-text">Detalii zbor</h3>
    <hr class="text-underline">
</div>
<div class="container">
    <form class="row g-3" th:action="@{/salveazaZbor}" method="post" id="zborForm">
        <div class="col-md-6">
            <label for="codCursa" class="form-label">Cod cursa:</label>
            <input type="text" class="form-control" id="codCursa" name="codCursa">
        </div>
        <div class="col-md-6">
            <label for="modelAvion" class="form-label">Model avion:</label>
            <input type="text" class="form-control" id="modelAvion" name="modelAvion">
        </div>


        <div class="col-md-12">
            <label class="form-label">Numar locuri pe clasa:</label>
            <div class="row">
                <div class="col-md-4">
                    <input type="number" class="form-control" name="locuriClasa1" placeholder="Clasa 1">
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="locuriClasaBusiness" placeholder="Business">
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="locuriClasaEconomie" placeholder="Economie">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <label for="rutaPlecare" class="form-label">Ruta Plecare:</label>
            <input type="text" class="form-control" id="rutaPlecare" name="rutaPlecare" placeholder="Plecare">
        </div>
        <div class="col-md-6">
            <label for="rutaDestinatie" class="form-label">Ruta Destinatie:</label>
            <input type="text" class="form-control" id="rutaDestinatie" name="rutaDestinatie" placeholder="Destinatie">
        </div>

        <div class="col-md-12">
            <label class="form-label">Pret:</label>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="number" class="form-control" name="pretClasa1" step="1" placeholder="Pret Clasa 1">
                        <span class="input-group-text">RON</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="number" class="form-control" name="pretClasaBusiness" step="1" placeholder="Pret Business">
                        <span class="input-group-text">RON</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="number" class="form-control" name="pretClasaEconomie" step="1" placeholder="Pret Economie">
                        <span class="input-group-text">RON</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <label for="tipZbor" class="form-label">Tip zbor:</label>
            <select class="form-select" id="tipZbor" name="tipZbor">
                <option value="">Selecteaza...</option>
                <option value="REGULAT">Regulat</option>
                <option value="SEZONIER">Sezonier</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Perioada:</label>
            <div class="row">
                <div class="col-md-6">
                    <select class="form-select" id="lunaStart" name="lunaStart" disabled>
                        <option>Ianuarie</option>
                        <option>Februarie</option>
                        <option>Martie</option>
                        <option>Aprilie</option>
                        <option>Mai</option>
                        <option>Iunie</option>
                        <option>Iulie</option>
                        <option>August</option>
                        <option>Septembrie</option>
                        <option>Octombrie</option>
                        <option>Noiembrie</option>
                        <option>Decembrie</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-select" id="lunaEnd" name="lunaEnd" disabled>
                        <option>Ianuarie</option>
                        <option>Februarie</option>
                        <option>Martie</option>
                        <option>Aprilie</option>
                        <option>Mai</option>
                        <option>Iunie</option>
                        <option>Iulie</option>
                        <option>August</option>
                        <option>Septembrie</option>
                        <option>Octombrie</option>
                        <option>Noiembrie</option>
                        <option>Decembrie</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <label for="zi" class="form-label">Zi (0-31):</label>
            <input type="number" class="form-control" id="zi" name="zi" min="0" max="31">
        </div>
        <div class="col-md-3">
            <label for="oraPlecare" class="form-label">Ora plecare:</label>
            <input type="time" class="form-control" id="oraPlecare" name="oraPlecare">
        </div>
        <div class="col-md-12">
            <label for="discount" class="form-label">Discount:</label>
            <input type="number" class="form-control" step="1" id="discount" name="discount">
        </div>

        <div class="col-12">
            <div class="bottomButtons">
                <button type="submit" class="btn btn-primary">Salvare</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='companie'">Anulare</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
